@import url('https://fonts.cdnfonts.com/css/ninja-naruto');
@import url('https://fonts.cdnfonts.com/css/jules-hand');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
    box-sizing: border-box;

}


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }

}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
    height: 100%;
    width: 100%;
}

input {
    background-color: inherit;
}


.card {
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

.main-card {
    background-size: cover !important;
    height: 800px;
}


.title {
    font-size: 2.7rem;
    font-family: 'Ninja Naruto';
    transition: transform .9s ease-out;
    position: relative;
}

.not-main {
    animation: shrink 1s forwards;

}

.is-main {
    animation: shrink1 1s forwards;
    width: 70%;
}

@keyframes shrink1 {
    from {
        font-size: 2rem;
        transform: translateY(50px);
    }
    to {
        font-size: 3rem;
        transform: translateY(135px);
        width: 45%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@keyframes shrink {
    from {
        font-size: 3rem;
        transform: translateY(135px);

    }
    to {
        width: 500px;
        font-size: 1.7rem;
        transform: translateY(50px);
    }
}


@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Применение анимации к тексту */
.myText {
    animation: slideInFromBottom .7s ease-in-out;
}

.t {
    cursor: pointer;
}

.t:hover {
    transform: scale(1.20);
    transition: transform .5s ease-in-out;
}

.t:not(:hover) {
    transform: scale(1);
    transition: transform .5s ease-in-out;
}

.anim, .test {
    overflow: hidden;
    transition: height 1s ease;
}


@keyframes expandHeight {
    from {
        height: 0; /* Начальная высота */
    }
    to {
        height: 717px; /* Конечная высота (измените на свой выбор) */
    }
}

@keyframes delete {
    from {
        height: 717px; /* Начальная высота */
    }
    to {
        height: 0; /* Конечная высота (измените на свой выбор) */
    }
}


/* Стили для класса .expanded, который будет анимироваться */
.anim.expanded {
    animation: expandHeight 1s ease; /* Используем ключевые кадры */
    height: 717px; /* Конечная высота (совпадает с ключевым кадром 'to') */
    margin: 22px 0;
}

.test.a {
    animation: delete 2s ease; /* Используем ключевые кадры */
    height: 0; /* Конечная высота (совпадает с ключевым кадром 'to') */
}

.tab-list {

}

.tab-list li, .t {
    transition: color .5s ease-in-out;
    padding: 10px;
    color: hsla(0, 0%, 100%, 0.6);
    border-radius: 10px;
}

.tab-list .active {
    color: white;
    background: #1f1f1f;
}

.tab-list li:hover {
    color: white;
}

.t {
    color: hsla(0, 0%, 100%, 0.6);
}

.t:hover {
    color: white;
}

.top-list {
    font-size: 120px;
    left: 50px;
}

/*/фывфвфывфвфывфы------------------*/
.side-scroll {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.scroll-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.scroll-item {
    flex: 0 0 auto;
    /*padding: 10px;*/
    /* Добавьте стили по вашему усмотрению */
}

.scroll-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    padding: 10px;
    /*position: absolute;*/
    font-size: 40px;
}

.left {
    transform: rotate(180deg);
}

.right {
    transform: rotate(180deg);
}


.top-list {
    font-family: 'Ninja Naruto', sans-serif;
    font-size: 100px;
    scale: 1.8;
    transform: rotate(2.3deg);
}


.choosen {
    border-bottom: 1px solid white;
}

.step4 {
    border: 10px solid transparent;
    border-top: 10px solid #ffffff;
}

.title-section h4 {
    font-family: 'Ninja Naruto', sans-serif;
}

.title-section {
    font-size: 32px;
}

.ttt {
    transition: top .1s;
}

.text-info {
    width: 0;
    overflow: hidden;
    transition: width 1.2s ease;
}

.info-block {
    width: 220px;
    transition: width 1.5s ease;
}

.info-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 200px;
    width: 200px;
    height: 200px;
}

.info-block:hover {
    width: 400px;
}

.info-block:hover .text-info {
    width: 200px;
}

.evalution {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    justify-content: space-around;
    border-radius: 20px;
    padding: 0 5px;
    width: 430px;
}
.evalution li {
    padding: 8px 10px;
    cursor: pointer;
    transition: transform 2s ease-in-out;
}

.evalution li:hover {
    color: blue;
    scale: 1.35;
}


.evalution li:nth-child(-n+4):hover {
    color: red;
}

.evalution li:nth-child(n+8):hover {
    color: green;
}



.evalution li:first-child {
    border-radius: 20px 0;
}

.evalution li:last-child {
    border-radius: 20px;
}